Node-RED_flow.json
[{"id":"6f00444.4f730bc","type":"http in","z":"6e66393b.949ab8","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["4fc1dff2.c44ef"]]},{"id":"4fc1dff2.c44ef","type":"template","z":"6e66393b.949ab8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"/>\n    <title></title>\n\t<meta charset=\"utf-8\" />\n  <script type=\"text/javascript\">\n\n    function ExecUpload() {\n\n        var upload1 = document.getElementById(\"upload1\");\n        var file1 = upload1.files[0];\n        var formData = new FormData();\n        formData.append('file',file1);\n        fetch('postImage', {\n            method: 'POST',\n             headers: {\n            'Accept': 'application/json'\n            },\n          body: file1\n         }).then(res => res.json()\n          ).then(json => {\n              document.getElementById(\"result\").innerHTML = JSON.stringify(json)\n          })\n    }\n\n    var loadFile = function(event) {\n    var reader = new FileReader();\n    reader.onload = function(){\n      var output = document.getElementById('preview');\n      output.src = reader.result;\n    };\n    reader.readAsDataURL(event.target.files[0]);\n  };\n  </script>\n  <style>\n  #preview img{\n  width: 100px;\n}\n</style>\n</head>\n<body>\n  <div>File-01<input id=\"upload1\" type=\"file\"  onchange=\"loadFile(event)\"/></div>\n  <a href=\"javascript:void(0);\" onclick=\"ExecUpload();\">画像認識開始</a>\n  <span id=\"result\" style=\"color:blue\"></span>\n  <div>\n  <img id=\"preview\">\n  </div>\n</body>\n</html>","output":"str","x":300,"y":120,"wires":[["c31b967a.006248"]]},{"id":"c31b967a.006248","type":"http response","z":"6e66393b.949ab8","name":"","statusCode":"","headers":{},"x":470,"y":120,"wires":[]},{"id":"f260b141.08636","type":"http in","z":"6e66393b.949ab8","name":"","url":"/postImage","method":"post","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["93c29154.828f6"]]},{"id":"73eb37fd.9e6c38","type":"http response","z":"6e66393b.949ab8","name":"","statusCode":"","headers":{},"x":810,"y":200,"wires":[]},{"id":"a472aaf2.e18758","type":"visual-recognition-v3","z":"6e66393b.949ab8","name":"","vr-service-endpoint":"https://gateway-a.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":510,"y":200,"wires":[["52cf4c61.b31fc4"]]},{"id":"93c29154.828f6","type":"change","z":"6e66393b.949ab8","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params[\"classifier_ids\"]","pt":"msg","to":"AirCon_1101964590","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["a472aaf2.e18758"]]},{"id":"4252ee39.0a109","type":"debug","z":"6e66393b.949ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":260,"wires":[]},{"id":"52cf4c61.b31fc4","type":"function","z":"6e66393b.949ab8","name":"","func":"var result = msg[\"result\"];\nmsg.payload = [];\nif (\"images\" in result && result.images.length > 0){\n    image = result.images[0]\n    if (\"classifiers\" in image && image.classifiers.length > 0){\n        classifier = image.classifiers[0]\n        if (\"classes\" in classifier && classifier[\"classes\"].length > 0){\n            msg.payload = classifier[\"classes\"][0]\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["73eb37fd.9e6c38","4252ee39.0a109"]]},{"id":"79fb6762.1f8f08","type":"comment","z":"6e66393b.949ab8","name":"html form","info":"","x":140,"y":80,"wires":[]},{"id":"5f0aafff.25a6a","type":"comment","z":"6e66393b.949ab8","name":"画像認識処理","info":"","x":150,"y":160,"wires":[]}]
